body {
    background-color: #0a0d16;
    color: #c3c5c6;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.logo {
    text-align: center;
}

@media only screen and (max-width: 800px) {
    header a img {
        width: 100%;
    }
}

nav {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    list-style-type: none;
    background-color: #252839;
    border-top: 2px solid #b0b2b5;
    border-bottom: 2px solid #b0b2b5;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #eaeced;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 17px;
}

li {
    display: block;
}

.active {
    background-color: #faaf18;
    font-weight: bold;
}

li.active a {
    color: black;
}

li:hover:not(.active):not(.searchbar) {
    background-color: #3d3f4d;
}

input[type=text] {
    width: 150px;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    padding: 14px 20px 14px 40px;
    transition: width 0.4s ease;
}

input[type=text]:focus {
    width: 250px;
}

aside{
    width: 30%;
    margin-left: 3%;
    margin-right: 3%;
    position: sticky;
    top: 0;
    padding-top: 70px;
    float: left
}

main{
    display: flex;
    flex-wrap: wrap;
    margin-right: 3%;
    margin-top: 70px;
}

section{
    width: 100%;
    margin: 0;
}

.card{
    width: 100%;
    border: 2px solid #b0b2b5;
    border-radius: 5px;
}

#genbeta.card:hover{
    background-color: #004a91;
}

#xataka.card:hover{
    background-color: #488627;
}

#applesfera.card:hover{
    background-color: #3d25b9;
}

article{
    background-color: #252839;
    border: 2px solid #b0b2b5;
    border-radius: 5px;
    margin-bottom: 30px;
}

.info{
    display: flex;
    padding: 20px;
}

.web_icon{
    width: 50px;
    height: 50px;
    border: 2px solid #b0b2b5;
    border-radius: 50%;
}

.image_post{
    clear: both;
    width: 100%;
}

.content{
    padding: 10px;
    font-size: 16px;
}

.title_post{
    margin: auto;
    margin-left: 10px;
}

.title_post a{
    text-decoration: none;
    color: white;
}

.title_post a:hover{
    color: #faaf18;
}

p{
    margin-bottom: 16px;
}

blockquote{
    border-left: 5px solid grey;
    font-style: italic;
}

article a{
    color: #faaf18;
}

.vermas{
    margin: 20px;
    text-align: right;
}

.vermas a{
    background-color: #faaf18;
    padding: 10px;
    color: black;
    border: 2px solid #b0b2b5;
    border-radius: 5px;
}
footer {
    background-color: #252839;
    color: #5c5c5c;
    border-top: 2px solid #b0b2b5;
    padding: 20px 20px;
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.6;
    justify-content: center;
    text-align: center;
}

.copyright{
    font-weight: bolder;
}

.copyright a{
    color: #faaf18;
    margin: 0;
}

.enterprise{
    color: #faaf18;
    margin: 0;
}

@media only screen and (max-width: 698px) {
    aside{
        padding-top: 120px;
    }
}

@media only screen and (max-width: 500px) {
    nav{
        margin-bottom: 20px;
    }

    aside{
        position: initial;
        float: none;
        width: 92%;
        padding: 0;
        margin-left: 4%;
        margin-right: 4%;
    }

    main{
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 10px;
        padding: 0;
    }

    section{
        float: none;
        width: 100%;
    }

    .card{
        width: 100%; 
        margin: 0;
        padding: 0;
    }
}